@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {

    /* text fonts */
    --font-poppins: "Poppins";

    /* colours */
    --color-BG: #0f172a;
    --color-BGS: #1e293b;
    --color-CText: #fafaf9;
    --color-DText: #64748b;
    --color-Pr: #34d399;
    --color-separator: #475569;

}